/* content */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}
.content .register-btn {
  display: flex;
  width: 322px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(237, 20, 125, 0.8);
  background: #fff;
  justify-content: center;
  cursor: pointer;
}
.content .register-btn:hover {
  border: 3px solid rgba(237, 20, 125, 0.8);
}
.content .register-btn:active {
  background: #ff7ebd;
}
.content .register-btn span {
  display: flex;
  color: #ed147d;
  font-size: 36px;
  align-items: center;
}
.content .started-bar {
  height: 237px;
  align-self: stretch;
  position: relative;
  width: 100%;
  height: 176px;
  flex-shrink: 0;
  background: #ed147d;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .started-bar .image {
  position: absolute;
  left: 90px;
  width: 30%;
  animation: loop 1s infinite ease-in-out;
}
@keyframes loop {
  0%,
  100% {
    top: 70px;
  }
  50% {
    top: 30px;
  }
}
.content .started-bar .image img {
  border-radius: 50%;
  position: absolute;
  max-width: 50%;
}
.content .started-bar span {
  display: flex;
  width: 404.174px;
  height: 74.284px;
  flex-direction: column;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.content .started-bar .started-btn {
  position: absolute;
  display: flex;
  width: 319.764px;
  height: 64.556px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  justify-content: center;
  right: 38.73px;
  cursor: pointer;
}
.content .started-bar .started-btn:hover {
  border: 3px solid rgba(237, 20, 125, 0.8);
}
.content .started-bar .started-btn:active {
  background: #ff7ebd;
}
.content .started-bar .started-btn span {
  display: flex;
  width: 231.62px;
  height: 38px;
  flex-direction: column;
  flex-shrink: 0;
  color: #ed147d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  align-self: center;
}
.content .title {
  display: flex;
  height: 259px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.content .advice {
  display: flex;
  height: 460px;
  align-self: stretch;
}

.content .sub-advice-1 {
  display: flex;
  padding: 0px 29px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
  background: linear-gradient(
    180deg,
    #f1d5d5 44.79%,
    rgba(241, 213, 213, 0) 94.27%
  );
}

.content .sub-advice-1 h1 {
  display: flex;
  height: 64px;
  flex-direction: column;
  flex: 1 0 0;
  color: #000;
  text-align: center;
  font-size: 60px;
  font-family: Raleway;
  font-weight: 700;
}

.content .sub-advice-1 h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 700;
}

.content .sub-advice-1 .gender-man,
.content .sub-advice-1 .gender-women,
.content .sub-advice-1 .gender-another {
  /* width: 637px; */
  height: 62.667px;
  flex-shrink: 0;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 50px;
  background: rgba(237, 20, 125, 0.8);
}

.content .sub-advice-1 .gender-man p,
.content .sub-advice-1 .gender-women p,
.content .sub-advice-1 .gender-another p {
  margin: auto;
  display: inline-block;
  width: 197.038px;
  height: 31.973px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
}

.content .sub-advice-1 .gender-man:hover,
.content .sub-advice-1 .gender-women:hover,
.content .sub-advice-1 .gender-another:hover {
  background-color: rgba(237, 20, 125, 1);
}

.content .advice .sub-advice-2 {
  align-self: stretch;
  flex: 1;
}

.content .advice .sub-advice-2 img {
  width: 100%;
  height: 100%;
}
