* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: ; */
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --button_form: rgba(237, 20, 125, 1);
}
#page {
  width: 100%;
  transition: 0.4s linear;
}
body {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #ff7ebd 0%, #fff 33.33%);
  filter: blur(0px);
  /* display: flex; */
  height: 2497px;
  padding: 10px 10px 0px 10px;
  flex-direction: column;
  align-items: center;
}
#login-menu{
  width: fit-content!important;
}
a {
  text-decoration: none !important;
  color: white !important;
}
.menu ul{
  display: flex !important;
  justify-content: center;
  margin: 0;
}
.menu ul li a:hover,
.menu2 li a:hover {
  color: #ed147d !important;
}
li {
  list-style: none;
  width: 140px;
  text-align: center;
}
/* Header */
.header {
  display: flex;
  height: 129px;
  font-size: 25px;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.header .logo img {
  width: 213px;
  height: 78px;
}
.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.header .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 0;
}
.header .menu2 {
  display: flex;
  width: 140px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
