* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}

:root {
  --button_form: rgba(237, 20, 125, 1);
}
#page {
  width: 100%;
  transition: 0.4s linear;
}
body {
  background: linear-gradient(180deg, #ff7ebd 0%, #fff 33.33%);
}
#login-menu {
  width: fit-content !important;
}

#login-menu {
  width: fit-content !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}
.responsive{
  width: 80%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}
.menu ul {
  display: flex !important;
  justify-content: center;
  margin: 0;
}
.menu ul li a:hover,
.menu2 li a:hover {
  color: #ed147d !important;
}
li {
  list-style: none;
  width: 140px;
  text-align: center;
}
/* Header */
.header {
  display: flex;
  height: 129px;
  width: 100%;
  font-size: 25px;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  justify-content: space-evenly;
} 
.header .logo {
  width: 200px;
}
.header .logo img {
  width: 100%;
}
.header .menu {
  width: 60%;
  display: flex;
  justify-content: center;
}
.header .menu ul {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:fit-content;
  width: 100% !important;
}
.header .menu ul li {
  width: 100% !important;
}
.header .menu2 {
  display: flex;
  width: 20%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.header .menu-btn{
  display: none;
}
@media screen and (max-width: 1024px){
  .responsive{
    position: fixed;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
    align-items: center;
    top: 0;
    transition: 0.5s ease-in;
    right: -500px;
    width: 500px;
    z-index: 4;
    background: white;
    height: 100%;
    display: none;
  }
  .none{
    display: none !important;
  }
  .responsive.active{
    right: 0;
  }
  .menu,.menu2{
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .menu ul{
    padding: 0;
    flex-direction: column;
  }
  .menu ul li{
    width: 100% !important;
    margin: 0 !important;
  }
  li a{
    display: block;
    width: 100% !important;
    color: black !important;
    padding: 20px 0 20px 0;
    font-weight: bold;
    margin: auto;
  }
  #login-menu{
    display: flex;
    height: 37.5px !important;
    width: 100% !important;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  li a:hover{
    background-color: #ff7ebd;
  }
  .header{
    display: block;
  }
  .header .logo{
    float: left;
  }
  .header .menu-btn{
    display: block;
    position: fixed;
    float: right;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: fit-content;
    margin: 0 40px 40px 0;
    transform: rotate(90deg);
    right: 0;
    z-index: 4;
  }
}
