.login-form{
    display: flex;
    width: 900px;
    height: 857px;
    padding: 54px 51px 0px 51px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100px;
    display: none;
    filter: blur(1.5rem);
    transition: 0.2s linear;
}
.login-form .title {
    color: rgba(237, 20, 125, 0.80);
    text-align: center;
    font-size: 96px;
    font-weight: 700;
}
.login-form label{
    display: flex;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.80);
    font-size: 36px;
    font-weight: 700;
}
.login-form input{
    padding: 40px;
    height: 79px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 36px;
}
.login-form a{
    display: flex;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: #001AFF;
    text-align: right;
    font-size: 36px;
}
.login-form a:hover{
    color: #ED147D;
}
.login-form .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
}
.login-form .button .login-btn,.login-form .button .cancel-btn{
    display: flex;
    width: 322px;
    height: 74.5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}
.login-form .button .login-btn span, .login-form .button .cancel-btn span{
    color: #ED147D;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 187px;
    height: 47.966px;
    font-size: 36px;
    font-weight: 700;
}
.login-form .button .login-btn:hover, .login-form .button .cancel-btn:hover {
    border: 3px solid rgba(237, 20, 125, 0.80);
}
.login-form .button .login-btn:active, .login-form .button .cancel-btn:active {
    background: #FF7EBD;
}
.login-form .other-login{
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    flex-shrink: 0;
    align-self: stretch;
}
.login-form .other-login img{
    width: 80px;
    height: 80px;
}