.register-form{
    width: 60%;
    height: 800px;
    padding: 54px 51px 0px 51px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    position: fixed !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    filter: blur(1.5rem);
    display: none;
    transition: 0.2s ease-in-out;
    z-index: 2;
}
.register-form .title {
    color: rgba(237, 20, 125, 0.80);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.register-form label{
    display: flex;
    height: 92px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.80);
    font-size: 24px;
    font-weight: 700;
}
.register-form input{
    padding: 31px;
    height: 64px !important;
    align-self: stretch;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 36px;
}
.register-form .button{
    display: flex;
    height: 172px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
}
.register-form .button .register-btn,.register-form .button .cancel-btn{
    display: flex;
    width: 322px;
    height: 74.5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}
.register-form .button .register-btn span, .register-form .button .cancel-btn span{
    color: #ED147D;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 187px;
    font-size: 24px;
    font-weight: 700;
}
.register-form .button .register-btn:hover, .register-form .button .cancel-btn:hover {
    border: 3px solid rgba(237, 20, 125, 0.80);
}
.register-form .button .register-btn:active, .register-form .button .cancel-btn:active {
    background: #FF7EBD;
}
@media screen and (max-width: 1024px){
    .register-form{
        width: 90%;
        height: 850px;
    }
    .register-form .button .register-btn,.register-form .button .cancel-btn{
        width: 30% !important;
    }
}