* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: ; */
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --button_form: rgba(237, 20, 125, 1);
}

.team-inf .title-team-inf {
  text-align: center;
  padding: 30px 0;
}

.team-inf .title-team-inf p {
  color: #ed147d;
  text-align: center;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
}

.team-inf .title-team-inf h1 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-family: Raleway;
  font-weight: 700;
}

.team-inf .dev-team-inf {
  gap: 65px;
  display: flex;
  justify-content: center!important;
  align-items: center;
  flex-wrap: wrap;
}

.team-inf .dev-team-inf .dev-team-inf-1 {
  display: flex;
  padding: 32px 80px;
  margin-right: 15px;
  margin-left: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 5px 2px 10px 4px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
}

.team-inf .dev-team-inf .dev-team-inf-2 {
  display: flex;
  padding: 32px 80px;
  margin-right: 15px;
  margin-left: 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 5px 2px 10px 4px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
}

.team-inf .dev-team-inf .dev-team-inf-1 .image img {
  position: absolute;
  top: 0;
  left: 0;
}

.team-inf .dev-team-inf .dev-team-inf-1 .image:hover img {
  opacity: 0.2;
}

.team-inf .dev-team-inf .dev-team-inf-1 h1 {
  color: rgba(237, 20, 125, 0.8);
}

.team-inf .dev-team-inf .dev-team-inf-1 p {
  color: rgba(237, 20, 125, 1);
}

.team-inf .dev-team-inf .dev-team-inf-2 .image img {
  position: absolute;
  top: 0;
  left: 0;
}

.team-inf .dev-team-inf .dev-team-inf-2 .image:hover img {
  opacity: 0.2;
}

.team-inf .dev-team-inf .dev-team-inf-2 h1 {
  color: rgba(237, 20, 125, 0.8);
}

.team-inf .dev-team-inf .dev-team-inf-2 p {
  color: rgba(237, 20, 125, 1);
}
