.content .inf li {
  width: 221px;
  height: 94px;
  display: inline-block;
  background: #fff;
  text-align: center;
  margin-top: 2%;
}

.content .inf li a {
  text-align: center;
  font-size: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 94px;
  text-decoration: none;
}

.content .inf .inf-1 {
  border-bottom: 5px solid #286df2;
  margin-left: 20%;
}

.content .inf .inf-1 a {
  color: #286df2;
}

.content .inf .inf-2 {
  margin-left: -4px;
}

.content .inf .inf-2 a {
  color: #000;
}

.content .image {
  position: relative;
  text-align: center;
}

.content .image .img-1 {
}

.content .image .img-2 {
  position: absolute;
  bottom: 0;
  left: 20%;
  top: 64%;
}

.content .depend-inf-1 {
  display: inline-block;
  padding: 2% 20%;
}

.content .depend-inf-2 {
  grid-template-columns: 490px 490px;
  gap: 10%;
  padding: 2% 20%;
}
img{
  object-fit: cover;
}